
#more {
    display: none;
}

h3 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.jumbotron p{
    font-weight: 300;
}

a.btn {
    /* margin-left: 1px; */
    /* margin-top: 1px; */
    padding: 2px 7px;
    font-weight: light;
    font-size: 10px;
    font-family: Verdana;
    opacity: 0.4;
}

button.btn-default{
    font-size: 10.5px;
    font-family: Verdana;
}

a.btn.jumbo {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px 7px;
    font-weight: light;
    font-size: 10px;
    font-family: Verdana;
    background: rgb(35, 82, 125, .6);
    color: white;
    border-color: rgb(35, 82, 125, .8);
}
a.btn.jumbo:hover {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px 7px;
    font-weight: light;
    font-size: 10px;
    font-family: Roboto;
    background: rgb(35, 82, 125, .9);
    color: white;
    border-color: rgb(35, 82, 125, .8);
}

span.label {
    padding: 5px 8px;
    font-weight: light;
    font-family: Verdana;
    font-size: 9.5px;
}

.papers {
    font-size: 16px;
}

.workinprogress,
.presentations,
.grants,
.refereeing {
    font-size: 14px;
}

.publicationsheader {
    font-size: 15px;
    font-stretch: expanded;
    padding-top: 8px;
    padding-bottom: 8px;
}

.authors {
    font-weight: 300; 
    font-size:13px;
    padding-top: 0px;
}

.journalinfo {
    font-family: 'Roboto Slab', serif; 
    font-weight: 300; 
    font-size:12px;
    font-style: italic;
    padding-top: 6px;
}

.publicationyear {
    /* font-family: 'Roboto Slab', serif;  */
    text-align: right;
    font-weight: 300; 
    /* font-size: 14px; */
}

.publication-item {
    padding-bottom:12px;
}

.material {
    padding-top:2px;
}

.active-ch {
    color: #003261;
    background-color: #e7e7e7;
}