<table class="table table-responsive news" style="margin-bottom:0px;">      
    <tr>
        <td style="white-space: nowrap;">[2025-03]</td>
        <td>
            I received a Kyösti Haataja grant from the <a href="https://www.op.fi/en/op-financial-group/about-us/foundations/research-foundation" target="_blank">OP Pohjola Research Foundation</a> for the project "What makes a green investor? Global survey evidence on climate and biodiversity risk in portfolio choice".
        </td>
    </tr>        
    <tr>
        <td style="white-space: nowrap;">[2025-03]</td>
        <td>
            Our study <a href="https://doi.org/10.1016/j.jbef.2025.101040" target="_blank">Presenting return charts in investment decisions</a> has been accepted for publication in the <i>Journal of Behavioral and Experimental Finance</i> (with Julia Rose).
        </td>
    </tr>        
    <tr>
        <td style="white-space: nowrap;">[2024-12]</td>
        <td>
            New working paper out on SSRN: <a href="https://doi.org/10.2139/ssrn.5048949" target="_blank">Do experimental asset market results replicate? High-powered preregistered replications of 17 key results</a>
            (preprint, with Felix Holzmeister, Magnus Johannesson, Christian König-Kersting, Anna Dreber, Jürgen Huber, and Michael Kirchler)
        </td>
    </tr>        
    <tr>
        <td style="white-space: nowrap;">[2024-10]</td>
        <td>
            Our meta-analysis and review of 50 studies on financial professionals as experimental particpants has been accepted for publication in the <i>Journal of Banking & Finance</i>:
            <a href="https://doi.org/10.1016/j.jbankfin.2024.107329" target="_blank">Experimenting with Financial Professionals</a> (preprint; with Christian König-Kersting and Matteo M. Marini)
        </td>
    </tr>    
    <tr>
        <td style="white-space: nowrap;">[2024-02]</td>
        <td>
            I will join the 
            <a href="https://www.aalto.fi/en/department-of-finance" target="_blank">Department of Finance at Aalto University School of Business</a> 
            as a tenure track Assistant Professor in August 2024!
        </td>
    </tr>    
    <tr>
        <td style="white-space: nowrap;">[2024-01]</td>
        <td>
            Our study on <a href="https://doi.org/10.1287/mnsc.2023.03556" target="_blank">Reproducibility in Management Science </a> 
            (with M. Fišar, B. Greiner, E. Katok, A. Ozkes, and more than 700 reproducibility reviewers)
            has been accepted for publication in <i>Management Science</i> and is featured in the <a href="https://blogs.lse.ac.uk/impactofsocialsciences/2024/01/23/how-journal-communities-can-ensure-reproducible-social-science/" target="_blank">LSE Impact Blog</a>!
        </td>
    </tr>                        
    <tr>
        <td style="white-space: nowrap;">[2023-05]</td>
        <td>
            The #ManyDesigns metastudy has just been published in <i>PNAS</i>: 
            <a href="https://doi.org/10.1073/pnas.2215572120" target="_blank">
            Competition and moral behavior: A meta-analysis of forty-five crowd-sourced experimental designs</a>!
            With collaborators from 70+ institutions in 18 different countries we find a small adverse effect of 
            competition on moral behavior and identify substantial 'design heterogeneity'. 
        </td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">[2022-10]</td>
        <td>
            Our paper <a href="https://doi.org/10.1017/S002210902300011X" target="_blank">
            Heterogeneity of Beliefs and Trading Behavior: A Reexamination</a>
            (with Sascha Füllbrunn, Catherine Eckel, and Utz Weitzel)
            has been accepted for publication in the <i>Journal of Financial and Quantitative Analysis</i>!
        </td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">[2022-08]</td>
        <td>
            Experimental Finance is on the rise! Our new survey of experiments in finance
            (<a href="https://doi.org/10.1016/j.jbef.2022.100737" target="_blank">Experiments in
            finance: A survey of historical trends</a>, with Michael Kirchler, forthcoming in  <i>Journal of Behavioral and Experimental Finance</i>)
            shows that the number of papers using experiments in top finance journals
            &ndash; as well as the number of experimental finance studies in top economics journals
            &ndash; has been increasing substantially over the last two decades.
        </td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">[2022-06]</td>
        <td>
            Our preprint
            <a href="https://doi.org/10.48550/arXiv.2206.02871" target="_blank">Cooperation among an anonymous group protected Bitcoin during failures of decentralization</a>
            (with A. Blackburn, Y. Eliaz, M.S. Shamim, D. Weisz, G. Seshadri, K. Kim, S. Hang, E. Lieberman Aiden) is now out on arXiv &ndash; it also featured in
            the <a href="https://www.nytimes.com/2022/06/06/science/bitcoin-nakamoto-blackburn-crypto.html" target="_blank">New York Times</a>,
            <a href="https://www.coindesk.com/layer2/2022/06/07/new-research-unearths-insights-into-satoshi-and-bitcoins-early-days/" target="_blank">Coindesk</a>,
            and <a href="https://science.orf.at/stories/3213526/" target="_blank">ORF</a>.
        </td>
    </tr>
    <tr>
        <td>[2021-08]</td>
        <td>
            Our paper <a href="https://doi.org/10.1016/j.jbankfin.2021.106247" target="_blank"><i>
            Market shocks and professionals' investment behavior &mdash; Evidence from the COVID-19 crash
            </i></a>
            Our paper <a href="https://doi.org/10.1016/j.jbankfin.2021.106247" target="_blank">
            Market shocks and professionals' investment behavior &mdash; Evidence from the COVID-19 crash</a>
            (with Jürgen Huber and Michael Kirchler)
            has been accepted for publication in the <i>Journal of Banking & Finance</i>!
        </td>
    </tr>
    <tr>
        <td>[2021-05]</td>
        <td>
            New Project: Join us in <a href="https://manydesigns.online" target="_blank">#ManyDesigns</a> and be part of this crowd-sourced project addressing the heterogeneity in experimental designs and how competition affects moral behavior!
        </td>
    </tr>
    <tr>
        <td>[2021-03]</td>
        <td>
            I will join the <a href="https://www.wu.ac.at/en/ims/" target="_blank">Institute for Markets and Strategy</a> at WU Vienna University of Economics and Business as a Postdoctoral Researcher in September 2021.
        </td>
    </tr>
</table>