<table class="table table-responsive news" style="margin-bottom:0px;">      
    <tr>
        <td style="white-space: nowrap;">[2023-11]</td>
        <td>
            We have a new working paper on <a href="https://doi.org/10.31219/osf.io/mydzv" target="_blank">Reproducibility in Management Science </a> 
            out (with M. Fišar, B. Greiner, E. Katok, A. Ozkes, and more than 700 reproducibility reviewers)!
        </td>
    </tr>                        
    <tr>
        <td style="white-space: nowrap;">[2023-05]</td>
        <td>
            The #ManyDesigns metastudy has just been published in <i>PNAS</i>: 
            <a href="https://doi.org/10.1073/pnas.2215572120" target="_blank">
            Competition and moral behavior: A meta-analysis of forty-five crowd-sourced experimental designs</a>!
            With collaborators from 70+ institutions in 18 different countries we find a small adverse effect of 
            competition on moral behavior and identify substantial 'design heterogeneity'. 
        </td>
    </tr>
    <tr>                                       
    <tr>
        <td style="white-space: nowrap;">[2022-10]</td>
        <td>
            Our paper <a href="https://doi.org/10.1017/S002210902300011X" target="_blank">
            Heterogeneity of Beliefs and Trading Behavior: A Reexamination</a>
            (with Sascha Füllbrunn, Catherine Eckel, and Utz Weitzel)
            has been accepted for publication in the <i>Journal of Financial and Quantitative Analysis</i>!
        </td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">[2022-08]</td>
        <td>
            Experimental Finance is on the rise! Our new survey of experiments in finance
            (<a href="https://doi.org/10.1016/j.jbef.2022.100737" target="_blank">Experiments in
            finance: A survey of historical trends</a>, with Michael Kirchler, forthcoming in  <i>Journal of Behavioral and Experimental Finance</i>)
            shows that the number of papers using experiments in top finance journals
            &ndash; as well as the number of experimental finance studies in top economics journals
            &ndash; has been increasing substantially over the last two decades.
        </td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">[2022-06]</td>
        <td>
            Our preprint
            <a href="https://doi.org/10.48550/arXiv.2206.02871" target="_blank">Cooperation among an anonymous group protected Bitcoin during failures of decentralization</a>
            (with A. Blackburn, Y. Eliaz, M.S. Shamim, D. Weisz, G. Seshadri, K. Kim, S. Hang, E. Lieberman Aiden) is now out on arXiv &ndash; it also featured in
            the <a href="https://www.nytimes.com/2022/06/06/science/bitcoin-nakamoto-blackburn-crypto.html" target="_blank">New York Times</a>,
            <a href="https://www.coindesk.com/layer2/2022/06/07/new-research-unearths-insights-into-satoshi-and-bitcoins-early-days/" target="_blank">Coindesk</a>,
            and <a href="https://science.orf.at/stories/3213526/" target="_blank">ORF</a>.
        </td>
    </tr>
</table>